.content{
    border: 2px solid rgb(134, 131, 131);
    background-color: rgb(192, 193, 247);
    border-radius: 15px;
}

.book {
    border: 2px solid #f3f1f1;
    background-color: rgb(244, 244, 247);
    padding: 20px;
    display: inline-block;
    margin-bottom: 20px;
    border-radius: 15px;
}