.navbar {
    background-color: rgb(36, 102, 121);
    margin: 0;
    padding: 10px 0;
    text-align: center;
    border-radius: 7px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    margin: 0;
    display: inline-flex;
    list-style-type: none;
    padding: 0;
}

.menu li {
    padding-left: 0;
    margin-right: 10px;
    position: relative;
}

.menu li a {
    padding: 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
}

.menu li:hover > a {
    background-color: rgb(36, 102, 121);
}

.dropdown, .dropdown-submenu {
    list-style-type: none;
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
    background-color: rgb(211, 246, 255);
    border: 1px solid rgb(197, 213, 218);
    min-width: 200px;
    z-index: 10;
}

.dropdown li a {
    padding: 10px 15px;
    color: rgb(0, 0, 0);
    display: block;
    text-align: left;
}

.dropdown li:hover > a {
   background-color: rgb(36, 102, 121);
}

.menu > li:hover > .dropdown {
    display: block;
}

.dropdown > li:hover > .dropdown-submenu {
    display: block;
    top: 0;
    left: 100%;
}

.buku-best-seller, .majalah-best-seller {
    margin: 50px;
    padding: 50px;
    background-color: rgb(36, 102, 121);
    border-radius: 10px;
}

.buku, .majalah {
    display: flex;
    justify-content: space-around;
}

.bukuku, .majalahku {
    padding: 50px;
    border: 1px solid rgb(197, 213, 218);
    border-radius: 5px;
    background-color: rgb(211, 246, 255);
    text-align: center;
    width: 100px;
}
